.titulo2{
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    
}

ion-toolbar {
    --color: #ffffff;
    --background: #15357e;
}

.texto{
    font-size: 20px;
}

.date{
    color:#15357e;
    font-size: 20px;
    font-weight: bold;
}